.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: white;
}

:root {
  --bodyColor: #333333;
  --input-bg: #27272a;
}

.display-none {
  display: none;
}

.network {
  font-size: 24px;
}

.bold {
  font-weight: 400;
}

body {
  background-color: var(--bodyColor);
  min-height: 180dvh;
}

.logo-div {
  /* border: 1px solid #000; */
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-heading {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.page-heading {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.main .textarea {
  background-color: var(--input-bg);
  width: 80%;
  min-height: 200px;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  border: none;
  border-radius: 8px;
  outline: none;
  resize: none;
}

.main .input-div {
  width: 80%;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .input-div span {
  width: 40%;
  font-size: 18px;
}

.main .input-div span input {
  width: 100%;
  background-color: var(--input-bg);
  outline: none;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 8px;
}

.button-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button-div div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-div div button {
  margin: 10px 0px;
  width: 45%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: #2a489e;
  transition: 0.3s;
}

.button-div div button:hover {
  background-color: #3c62ca;
}
